body {
  background-color: white;
}

.diaryPage {
  background-color: white;
  background-size: contain;
  color: #1b1b1b;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 80px;
  margin: 0 auto;
}
.header {
  width: 56px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.reminder {
  width: auto;
  display: flex;
  height: 54px;
  font-size: 14px;
  line-height: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #131212a1;
}
.reminderText{
  color: #131212a1;
}
.reminderIcon{
  width: 24px;
  height: 24px;
  padding: 0px;
  display: block;
  fill: var(--beige-color);
  stroke: #000000;
  margin-right: 8px;
}
@media screen and (min-width: 375px) {
  .diaryPage {
    width: 335px;
  }
  .reminder{
    width: 335px;
  }
}
@media screen and (min-width: 768px) {
  .diaryPage {
    width: 728px;
  }
  .reminder {
    width: 593px;
    position: static;
    top: 992px;
  }
  .bottomBar{
    display: flex;
    flex-direction: column-reverse;
  }
  .bottomRightBar{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1440px) {
  .diaryPage {
    width: 1440px;
    padding: 52px 96px 68px 96px;
  }
  .reminder {
    position: static;
    width: 308px;
    margin: 0px;
    margin-top: 48px;
    font-size: 16px;
    line-height: 24px;
  }
  .topBar {
    margin-bottom: 32px;
  }
  .bottomBar{
    display: flex;
    flex-direction: row-reverse;
  }
  .bottomRightBar{
    margin-left: 32px;
    align-items: center;
  }
}
